html,
body {
margin:0;
padding:0;
height:100%;
}

#wrapper {
min-width: 910px;
position:relative;
background-color: #c23e3e;
}

#header{
padding: 3px 0px;
background-color: #3ec23f;
color: #caf1c1;
width: 100%;
height: 140px;
}

#logo{
padding: 5px;
float:left;
width: 25%;
}

#logo img{
    height: 130px;
}

#title{
float: left;
font-size: 55px;
margin: 0 auto;
text-align: center;
width: 70%;
padding-top: 25px;
text-shadow:5px 5px 10px black;
}

#content {
padding-bottom:70px; /* Height of the footer element */
padding-left: 20px;
/*background-color: #c23e3e;*/
}

#footer{
padding: 10px 5px 0px 5px;
background-color: #3ec23f;
color: #FFF;
width: 100%;
height:70px;
position:absolute;
bottom:0;
left:0;
text-align: center;
}

#login_fail{
    width: 25%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
   }

.margXL{
    margin-left: 195px;
}

#inputlogin{
    left: 75px;
    padding: 4px 0px;
}

.melolbar{
    padding: 13px;
    background-color: #2aaa2b;
    border-top: 2px solid hsl(120, 31%, 48%);
    border-bottom: 2px solid #257425;
    border-left: 2px solid hsl(120, 31%, 48%);
    border-right: 2px solid #257425;
    border-radius: 4px;
    }

.melolbar div{
    display: inline;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #3ec23f;
    border: 1px solid #257425;
    border-bottom: 2px solid #257425;
    border-right: 2px solid #257425;
    text-transform: uppercase;
    font-weight: bold;
}
.melolbar a{
    color: #1c581c;
}
